* {
    margin: 0;
}

html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Necessário para que o texto do botões não sejam
selecionados quando clicados muitas vezes */
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ======= GENERAL ======= */

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 47px;
    padding: 15px;
    z-index: 2;
    
    background-color: white;

    font-weight: bold;
}

#left-wrapper, #right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

#left-wrapper div:hover, #right-wrapper div:hover {
    cursor: pointer;
}

#left-wrapper {
    min-width: 240px;
}

#right-wrapper {
    gap: 1px;
    min-width: 168px;
}



/* ======= SEARCH BOX ======= */

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

input {
    width: 92%;
    height: 90%;
    padding: 0px 15px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 35px;
    outline: none;

    background-color: rgb(239, 239, 239);

    font-size: 0.95em;
}

::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}



/* ======= IMAGES ======= */

#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 100%;
}

.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 25px;
    height: 95%;
    padding: 0px 10px;
    border-radius: 100%;

    transition: width 0.1s, height 0.1s;
}

.logo-img:hover {
    background-color: rgb(239, 239, 239);
}

header img {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
}



/* ======= BUTTONS ======= */

#hoje {
    background-color: inherit;
    color: inherit;
    max-width: 64px;
}

#hoje:hover {
    background-color: rgb(239, 239, 239);
}

#pagina-inicial {
    max-width: 131px;
}

.button {
    /* Alinha o conteúdo */
    display: flex;
    align-items: center;
    justify-content: center;

    /* A largura se ajusta ao tamanho do conteúdo,
    enquanto a altura ocupa 100% do header. */
    width: auto;
    height: 100%;
    padding: 0px 15px;

    border-radius: 35px;

    background-color: black;
    color: white;

    font-size: 0.98em;

    cursor: pointer;
}



/* ======= ICONS ======= */

#icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 95%;
    padding: 0px 12px;
    border-radius: 100%;
    
    font-size: 1.5em;
    color: rgb(88, 88, 88);
}

.icon:hover {
    background-color: rgb(239, 239, 239);
}

#search-icon {
    display: none;
}

#settings-button {
    height: 50%;
    padding: 0px 5px;
    
    font-size: initial;
}